<div class="row col-sm-6 col-md-3 user-card">
  <%= image_tag show_user_avatar(@user), class: "img-square", alt: @user.name %>
  <h4 class="lead text-center"><%= link_to @user.name, user_path(@user) %></h4>

  <p class="text-left">@<%= @user.username %></p>
  <p class="text-left"><%= @user.location %></p>

  <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modalTransferInfo">Enviar dinheiro</button>

  <%= form_for(@transfer, role: "form", html: { class: "form-horizontal col-md-8" }) do |f| %>
    <% if @transfer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@transfer.errors.count, "error") %> impossibilitaram a transferência:</h2>
        <ul>
        <% @transfer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= render "transfers/modal_transfer_info", f: f, user: @user, transfer: @transfer %>
    <%= render "transfers/modal_card_info", f: f, user: @user, transfer: @transfer %>

  <% end %>
</div>