<div class="modal fade" id="modalCardInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Enviar dinheiro para <%= user.name %></h4>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <%= label_tag :card_number, "Número do cartão" %>
          <br/>
          <%= text_field_tag :card_number, nil, { id: "card_number" } %>
        </div>

        <div class="form-group">
          <%= label_tag :card_holder_name, "Nome (como escrito no cartão)" %>
          <br/>
          <%= text_field_tag :card_holder_name, nil, { id: "card_holder_name" } %>
        </div>

        <div class="form-group">
          <%= label_tag :card_expiracy_month, "Mês de expiração" %>
          <br/>
          <%= text_field_tag :card_expiracy_month, nil, { id: "card_expiracy_month" } %>
        </div>

        <div class="form-group">
          <%= label_tag :card_expiracy_year, "Ano de expiração" %>
          <br/>
          <%= text_field_tag :card_expiracy_year, nil, { id: "card_expiracy_year" } %>
        </div>

        <div class="form-group">
          <%= label_tag :card_cvv, "Código de segurança" %>
          <br />
          <%= text_field_tag :card_cvv, nil, { id: "card_cvv" } %>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Voltar</button>
        <%= f.submit "Enviar", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>