<h3>Listing transfers</h3>

<table>
  <thead>
    <tr>
      <th>Usuário</th>
      <th>Quem recebeu</th>
      <th>Valor</th>
      <th>Email</th>
      <th>Nome</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @transfers.each do |transfer| %>
      <tr>
        <td><%= transfer.user_id %></td>
        <td><%= transfer.receiver_id %></td>
        <td><%= transfer.amount %></td>
        <td><%= transfer.email %></td>
        <td><%= transfer.name %></td>
        <td><%= link_to 'Mostrar', transfer %></td>
        <td><%= link_to 'Cancelar', transfer, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo pagamento', new_transfer_path %>