<div class="container footer">
  <ul class="bs-masthead-links">
    <li class="copyright-notice">
      &copy; 2013 Receba.la
    </li>

    <li><%= link_to "Sobre", about_path %></li>
    <li><%= link_to "Ajuda", help_path %></li>
    <li><%= link_to "Termos", legal_path %></li>
    <li><%= link_to "Privacidade", privacy_path %></li>
    <li><%= link_to "Segurança", security_path %></li>

  </ul>
</div>