<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Receba</title>
    <meta name="google-site-verification" content="xvBpARCula5nfDy7E7PwA4wwWVkOsSFfugka6Y34O1E" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "https://pagar.me/assets/pagarme.js" %>
  </head>
  <body class="receba-home">
    <%= render "layouts/navbar" %>

    <div class="container receba-main">
      <%= yield %>
    </div>

    <%= render "layouts/footer" %>
    <%= render "layouts/google_analytics" %>
  </body>
</html>